@page
@model BookingEngine.Pages.Reservations.GuestModel

@{
    ViewData["Title"] = "Guest";
}

<h1 class="text-center" style="color:cornflowerblue">Please provide Guest and Payment Info to complete booking!</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Guest.FirstName" class="control-label"></label>
                <input asp-for="Guest.FirstName" class="form-control" />
                <span asp-validation-for="Guest.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.LastName" class="control-label"></label>
                <input asp-for="Guest.LastName" class="form-control" />
                <span asp-validation-for="Guest.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.HomeAddress" class="control-label"></label>
                <input asp-for="Guest.HomeAddress" class="form-control" />
                <span asp-validation-for="Guest.HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.EmailAddress" class="control-label"></label>
                <input asp-for="Guest.EmailAddress" class="form-control" />
                <span asp-validation-for="Guest.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.PhoneNumber" class="control-label"></label>
                <input asp-for="Guest.PhoneNumber" class="form-control" />
                <span asp-validation-for="Guest.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.City" class="control-label"></label>
                <input asp-for="Guest.City" class="form-control" />
                <span asp-validation-for="Guest.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.ZipCode" class="control-label"></label>
                <input asp-for="Guest.ZipCode" class="form-control" />
                <span asp-validation-for="Guest.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.CreditCardNumber" class="control-label"></label>
                <input asp-for="Guest.CreditCardNumber" class="form-control" />
                <span asp-validation-for="Guest.CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.FullNameOnCard" class="control-label"></label>
                <input asp-for="Guest.FullNameOnCard" class="form-control" />
                <span asp-validation-for="Guest.FullNameOnCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.ExpiryDate" class="control-label"></label>
                <input asp-for="Guest.ExpiryDate" class="form-control" />
                <span asp-validation-for="Guest.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.CVV" class="control-label"></label>
                <input asp-for="Guest.CVV" class="form-control" />
                <span asp-validation-for="Guest.CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book Stay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-page="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}