@page
@model BookingEngine.Pages.Reservations.RoomsModel
@{
    ViewData["Title"] = "Masion Buyout";
}
<div style="float:left;width:80%">
    <img  src="~/Images/Mansion.jpg" width="700" height="500" alt="Mansion Buyout" />
    <br />
    <h4 style="color: cornflowerblue">Description</h4><br /><br />
    <h6>
      COVID-19 UPDATE - 
        Looking to rent an Gilded Age mansion for a day or two? Invite friends and family to join you for an exclusive getaway.
        Please Note: The Mansion Buyout is exclusively for rooms. 
        The restaurant and bar are closed but you may use the bar and kitchen.
        Ask about us about catering or providing staff for you.
    </h6>
    <h4 style="color: cornflowerblue">Hotel Specific Amenities</h4>
     <ul>
      <li>Individually controlled room temperature</li>
      <li>400 thread count Matouk linen</li>
      <li>SONY High Definition (HD) Flat Screen 40” / 46” / 52” TV’s</li>
      <li> HD TV Channels with FREE On-Demand Movies</li>
      <li> WaterworksTM Spa-inspired bathrooms with radiant heated floors</li>
      <li> Heated towel racks (room dependent)</li>
      <li>Malin + Goetz Bath products</li>
      <li>Daily housekeeping and evening turn-down service</li>
      <li>Complimentary WiFi</li>
      <li>Complimentary bottled still and sparkling water</li>
      <li>Complimentary Parking</li>
      <li>Iron & ironing board, hairdryer and iPod dock/alarm clock</li>
     </ul>
    <h4 style="color:cornflowerblue">Important Reservation Information</h4>
    <ul>
        <li>12 and over age policy</li>
        <li>Non-smoking facility</li>
        <li>Check in time is 3:00AM</li>
        <li>Check out time is 11:00PM</li>
        <li>No pets are allowed in the premises</li>
    </ul>
    <h6>Deposit and cancellation policies depend on the rate plan you select 
    and will be presented for your agreement before you complete your reservation. 
    Be sure to review these carefully.</h6><br /><br />
</div>
<div style="float:right;width:20%">
    <h5 class="text-info">Rack Rate</h5>
    Celebrate with your friends and family in style.
    Enjoy private and exclusive use of the mansion! This rate is for ALL our 9 best mansion bedrooms with en suite bathrooms and use of our indoor and outdoor guest spaces including kitchen and bar area.
    No food or beverage included, but can be arranged for additional cost.
    Sales taxes and service charges are extra. Rate based on double-occupancy for persons, max 20 guests.
    Free Wifi and parking included.
    <br />
    <br />
    <h5 style="color:cornflowerblue">Price:Rs.4000</h5>
    <h5 style="color:cornflowerblue">Taxes:+5%</h5>
    <h5 style="color:deepskyblue">TotalPrice:Rs.4000.05</h5>
    <div>
        <a asp-page="Guest" class="btn btn-primary">Book Room</a>
    </div>
</div>
