@page
@model BookingEngine.Pages.Reservations.ThankYouModel
@{
    ViewData["Title"] = "Thank You";
}
<h4 style="text-align:center">Successfull ! Thank you for booking</h4>
    <a asp-page="Create">Create a new reservation</a>
