@page
@model BookingEngine.Pages.Reservations.UpdatedModel
@{
    ViewData["Tiitle"] = "Updated";
}
<h4 style="text-align:center">Reservation has been Updated Successfull</h4>
    <a asp-page="Administration">Go Back to Administration</a>